#poster ion-content {
  text-align: center;
}

#timer {
  background-color: white;
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 5.5rem;
  left: 1rem;
  z-index: 2;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border: 4px black solid;
}

.paper {
  background-color: #fff;
  border-radius: 8px;
  padding: 8px;
  margin: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
}

#stats {
  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0 4px;
}

#points {
  font-weight: 800;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

#lives {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: red;
}
