#stats {
  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0 4px;
}

#points {
  font-weight: 800;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

#lives {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: red;
}
